@import "App.scss";

.asset_div {
    background-color: #0E1726 !important;
    border-radius: 10px;
    font-family: $plexus-font-family;
    cursor: pointer;
}

.asset_text {
  font-family: $plexus-font-family;
}

.assets_border_div {
    border: 1px solid #4ea4d3 ;
    border-radius: 10px;
}