@import "App.scss";
.asset_div {
    background-color: #0E1726 !important;
    border-radius: 10px;
    font-family: $plexus-font-family;
}

.asset_text {
  font-family: $plexus-font-family;
}

.table_col_first {
    background-color: #0E1726 !important;
    border-radius: 10px 0 0 10px;
    font-family: $plexus-font-family;
}

.table_col_last {
    background-color: #0E1726 !important;
    border-radius: 0 10px 10px 0;
    font-family: $plexus-font-family;
}

.table_col {
    background-color: #0E1726 !important;
    font-family: $plexus-font-family;
}

.assets_border_div {
    border: 1px solid #4ea4d3 ;
    border-radius: 10px;
}