.address-text {
  color: #e0e0e0;
  font-family: "Nova Mono Regular";
  font-weight: 400;
  font-size: 0.9em;
  // line-height: 36px;
  letter-spacing: 1.5px;
}

.address-popup-text {
  color: var(--color-text1);
  font-family: "Nova Mono Regular";
  font-weight: 300;
  font-size: 0.8em;
  // line-height: 36px;
  letter-spacing: 1.2px;
}
