@import "App.scss";

.navbar {
  margin-top: 10px;
  padding-bottom: 0 !important;
  border: 1px solid;
  border-top: none;
  border-right: none;
  border-left: none;
}

.logo {
  margin-left: 10px;
  height: 20px;
}

.menu {
  height: 36px;
  cursor: pointer;
}

.navbar-dark {

  .navbar-nav {
    border: 1px solid;
    border-color: var(--color-nav-border);
    border-top: none;
    border-right: none;
    border-left: none;

    .nav-link {
      color: var(--color-text1) !important;
      margin-right: 30px;
      font-weight: 600;
      font-size: 16px;
      line-height: 36px;
      font-family: $plexus-font-family;
      letter-spacing: 1px;

      &:hover,
      &:focus {
        color: var(--color-nav-selected) !important;
      }

      &.disabled {
        color: $navbar-dark-disabled-color;
      }
    }

    .show > .nav-link,
    .nav-link.active {
      color: var(--color-nav-selected) !important;      
      border: 4px solid;
      border-top: none;
      border-right: none;
      border-left: none;
    }

    .nav-link.disabled {
      color: var(--color-nav-disabled) !important;
    }
    .navbar-grey {
      color: var(--color-navbar-disabled-color) !important;
    }
    .navbar-grey:hover {
      color: var(--color-navbar-disabled-color) !important;
    }
  }

  .navbar-text {
    color: var(--color-text1) !important;
    a,
    a:hover,
    a:focus {
      color: var(--color-nav-selected) !important;
    }
  }
}

.navbar-end {
  margin-right: 0 !important;
}

.navbar-start {
  margin-left: 0 !important;
}
.navbar-grey {
  color: $navbar-dark-disabled-color;
}

.mobile-header-label {
  color: var(--color-nav-label);
  font-size: 24px;
  font-family: $plexus-mobile-font;
  font-weight: normal;
  line-height: 36px;
  letter-spacing: -0.2px;
}

.mobile-nav-container {
  background-color: var(--color-body-background) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-wrapper {
  background-color: var(--color-body-background-light);
  font-family: $plexus-mobile-font;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.mobile-menu-label {
  color: var(--color-text1);
  font-size: 30px;
  font-family: $plexus-mobile-font;
  font-weight: normal;
  line-height: 36px;
  letter-spacing: -0.2px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;

  &.disabled {
    color: var(--color-nav-disabled) !important;
  }

  &.active {
    color: var(--color-nav-selected) !important;
  }
}