@import "App.scss";

@media screen and (max-width: 1024px) {
  .wallet-popup-modal {
    .modal-dialog {
      position: absolute;
      bottom: 0px;
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .modal-content {
      background-color: transparent;
    }
    .modal-header {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom: none;
      background-color: var(--color-body-background-light) !important;
    }
    .modal-title {
      color: var(--color-nav-label);
      font-family: $plexus-currency-font;
    }
    .modal-body {
      background-color: var(--color-sidebar-bg) !important;
      // background-image: url('../../../assets/Subtract.png');
      margin-top: 0;
      padding: 1.0em;
      padding-left: 1.0em;
      padding-right: 1.0em;
      background-size: cover;
    }
  }
}

.wallet-popup {
  margin-top: 0;
  padding: 1.5em;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  .wallet-asset-img {
    width: 54px;
    height: 54px;
  }

  .title-text {
    color: var(--color-text1);
    font-weight: 500;
    font-family: $plexus-font-family;
    font-size: 1.0em;
    // line-height: 36px;
    letter-spacing: 2px;
  }

  .sub-container {
    background-color: var(--color-sidebar-info-box-bg);
    border-radius: 5px;
    align-items: center;
  }

  .value-text {
    font-weight: 400;
    font-size: 1.4em;
    font-family: $plexus-currency-font;
  }

  .sub-label-text {
    font-weight: 400;
    font-size: 0.9em;
    font-family: $plexus-font-family;
    color: var(--color-sidebar-title-text);
  }

  .sub-value-text {
    font-weight: 400;
    font-size: 1.1em;
    font-family: $plexus-currency-font;
    color: var(--color-sidebar-title-text);
  }

  .description-text {
    font-weight: 500;
    font-size: 0.80em;
    // line-height: 36px;
    font-family: $plexus-font-family;
    color: var(--color-sidebar-description);
    letter-spacing: 0.2px;
  }

  .claim-button {
    font-style: normal;
    font-weight: 500 !important;
    line-height: 32px !important;
    font-size: 0.8em;
    font-family: "Azo Sans Regular";
    color: var(--color-button-text) !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    border-radius: 10px !important;
    background-color: var(--color-button-bg) !important;
    text-align: center !important;
    width: 100%;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .h-28 {
    height: 28px;
  }
}
