@import "~bootstrap/scss/bootstrap";



/* Font */
$plexus-font-family: 'Azo Sans Regular';
$plexus-currency-font: 'Nova Mono Regular';
$plexus-mobile-font: 'CODEINK Regular';

.gredent_text {
  background: linear-gradient(270deg, #7AC2E8 0%, #236EDC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: $plexus-currency-font;
}

.App {
  background-color: var(--color-body-background) !important;
  min-height: 100vh;
  min-width: 100vw;
}
.text-gray-3 {
  color: var(--color-text-gray);
}

.text-gray-4 {
  color: var(--color-text-light-gray);
}

.text-white-1 {
  color: var(--color-text1);
}

@media screen and (max-width: 1024px) {
  .App {
    background-color: var(--color-body-background-light) !important;
    min-height: 100vh;
    min-width: 100vw;
  }
}