/* Dark Mode*/
$plexus-white: #E0E0E0;
$plexus-light-white: #BDBDBD;
$plexus-dark: #050818;
$plexus-light-dark: #0E1726;
$plexus-dark-blue: #191E3A;
$plexus-light-blue: #62B0E5;
$plexus-gray: #4F4F4F;
$white: white;
$plexus-light-gray: #828282;
$plexus-light-blue2: #4ea4d3;
$plexus-white4: #F2F2F2;
$plexus-blue: #236EDC;
/* Light Mode*/
$plexus-white2: #F9FAFB;
$plexus-white3: #F3F4F6;
$plexus-light-gray2: #EAEFF5;
$plexus-gray2:#6B7280;
$plexus-gray3:#9CA3AF;
$plexus-gray4:#8892A4;

/* gradients */
$sky-blue-linear-gradient: linear-gradient(270deg, #7ac2e8 0%, #236edc 100%);
$sky-blue-vertical-gradient: linear-gradient(0deg, #7ac2e8 0%, #236edc 100%);