@font-face {
  font-family: 'Nova Mono Regular';
  src: url('assets/fonts/NovaMono-Regular.ttf')  format('truetype');
}


@font-face {
  font-family: 'Azo Sans Regular';
  src: url('assets/fonts/AzoSans-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Azo Sans Bold';
  src: url('assets/fonts/AzoSans-Bold.otf')  format('truetype');
}

@font-face {
  font-family: 'CODEINK Regular';
  src: url('assets/fonts/CODEINK-Regular.ttf')  format('truetype');
}


body {
  margin: 0;
  font-family: 'Nova Mono Regular', 'Azo Sans Regular', 'Azo Sans Bold', 'CODEINK Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
